.container {
    max-width: 500px;
    margin:40px  auto;
    padding: 25px;
    background-color: #f0f8ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0 0 0 0.1);
    z-index: 1;
    position: relative;
  }