.container{
height:20vh;
margin-bottom:20px;
}
.logo {
 height: 50px;
 width: auto;
 margin-right: 10px;
}
.bg-smartbank {
  background: linear-gradient(to right, #F99D27, #FFA500);
  color: white;
  
}

.custom-active {
  color: #dc3545; /* red */
  font-weight: bold;
}


