.container{
height:20vh;
margin-bottom:20px;
}
.logo {
 height: 50px;
 width: auto;
 margin-right: 10px;
}
.bg-smartbank {
  background: linear-gradient(to right, #F99D27, #FFA500);
  color: white;
  
}
.custom-active {
  color: #dc3545; /* red */
  font-weight: bold;
}
.user-summary {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  min-height: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
}


